@media only screen and (max-width:1200px) {
    .main-header {
        .header-row {
            .header-logo {
                margin-right: 25px;
            }

            .header-search {
                max-width: 240px;
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    .main-specialSec {
        &.thankYou-sec {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .reward-formSec {
            padding: 210px 0 110px;

            .rwdRow {

                [class*=col-] {
                    &.imgCard {
                        display: none;
                    }

                    &.formCard {
                        width: 100%;
                        height: 100%;

                        .right-form {
                            max-width: 100%;

                            &.successForm {
                                .card {
                                    .card-body {
                                        .mystry-imgSec {
                                            width: calc(100% + 50px);
                                            margin-left: -25px;
                                            margin-right: 25px;
                                        }
                                    }
                                }
                            }

                            .card {
                                overflow: visible;

                                .card-body {
                                    .mystry-imgSec {
                                        display: flex;
                                        align-items: flex-start;
                                        margin-top: -100px;
                                        width: calc(100% + 120px);
                                        margin-left: -60px;
                                        margin-right: 60px;

                                        .my-unlock-img {
                                            img {
                                                max-width: 70%;
                                            }
                                        }
                                    }

                                    .offer-validRow {
                                        margin-top: -50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .reward-footer {
            .inner-rwd {
                max-width: 100%;
            }
        }
    }
}

@media only screen and (max-width:991px) {
    .main-header {
        .header-row {
            .header-logo {
                padding: 21px 0;

                a {
                    img {
                        content: url(../../images/mobile-logo.png);
                        max-width: 85px;
                    }
                }
            }

            .header-search {
                max-width: 60%;
            }

            .main-menu {
                display: none;
                transition: all 0.5s linear;
                opacity: 0;
                transform: translateY(-40px);
            }

            .signIn-btn {
                display: none;
            }
        }
    }

    .main-specialSec {
        .reward-formSec {
            .container {
                max-width: 96%;
                margin: auto;
            }
        }
    }
    .main-footer{
        .footer-menu{
            flex-wrap:wrap;
            margin-bottom: 16px;
        }
    } 
}

@media only screen and (max-width:768px) {
    .main-specialSec {
        .reward-formSec {
            .rwdRow {
                [class*=col-] {
                    &.formCard {
                        .right-form {
                            .card {
                                .card-body {

                                    .offer-validRow {
                                        margin-top: -30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .main-specialSec {
        .reward-formSec {
            padding: 90px 0 10px;

            .rwdRow {
                [class*=col-] {
                    &.formCard {
                        .right-form {
                            .card {
                                .card-body {
                                    padding: 60px 20px 10px;

                                    h3 {
                                        font-size: 20px;
                                    }

                                    .claim-h1 {
                                        font-size: 25px;
                                        line-height: 28px;
                                    }

                                    .offer-validRow {
                                        .countdown-box {
                                            .countdown-item {
                                                .countdown-time {
                                                    font-size: 35px;
                                                    line-height: 35px;
                                                }
                                            }
                                        }
                                    }

                                    .mystry-imgSec {
                                        margin-left: -30px;
                                        margin-right: 30px;
                                        width: calc(100% + 60px);
                                        margin-top: -56px;

                                        .reward-boxTv {
                                            margin-top: -90px;
                                        }
                                    }
                                }
                            }

                            &.successForm {
                                .card {
                                    .card-body {
                                        .mystry-imgSec {
                                            width: 100%;
                                            margin-left: 0;
                                            margin-right: 0;
                                            margin-top: -110px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        .reward-footer {
            padding-bottom: 10px;
        }
    }
}

@media only screen and (max-width:600px) {
    .main-header{
        .header-row{
            .header-logo{
                margin-right:10px;
                a{
                    img{
                        max-width:65px;
                    }
                } 
            } 
        } 
    } 
    .main-specialSec {
        .logo-header{
            img{
                width:220px;
            }
        } 
        .reward-formSec {
            .rwdRow {
                [class*=col-] {
                    &.formCard {
                        .right-form {
                            .card {
                                .card-body {
                                    padding: 120px 20px 10px;

                                    .mystry-imgSec {
                                        .my-unlock-img {
                                            margin-top: -110px;
                                        }

                                        .reward-boxTv {
                                            margin-top: -130px;
                                        }
                                    }

                                    .offer-validRow {
                                        margin-top: 30px;
                                        margin-left: -10px;
                                        margin-right: 10px;
                                        width: calc(100% + 20px);

                                        h4 {
                                            margin: 0 7px 0 0;
                                        }

                                        .countdown-box {
                                            .countdown-item {
                                                padding: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}