@import "include";
@import "global";
.main-header{
    background-color:$green;
    padding:0;
    // position:sticky;
    // top:0;
    // width:100%;
    .container{
        max-width:1130px;
    }
    .header-row{
        display:flex;
        flex-wrap:wrap;
        width:100%;
        align-items:center;
        justify-content:space-between;
        .header-logo{
            margin-right:45px;
            padding:27px 0;
            a{
                display:inline-block;
                img{
                    max-width:165px;
                }
            }
        }
        .main-menu{
            .menu-list{
                display:flex;
                align-items:center;
                gap:10px;
                margin-bottom:0;
                .menu-item{
                    display:inline-block;
                    padding:17px 0 17px;
                   & > .menu-link{
                        font-size: 14px;
                        font-weight: 800;
                        letter-spacing: 0.2px;
                        text-transform: capitalize;
                        padding: 12px 10px 12px;
                        border-radius: 30px;
                        color:$white;
                        transition:all 0.3s ease-in-out;
                        font-family: Arial, Helvetica, sans-serif;
                        display:flex;
                            align-items:center;
                        span{
                            display:inline-block;
                        }
                    }
                    &:hover{
                        .menu-link{
                            background-color: rgb(12 12 12 / 27%);
                        }
                    }
                    &.signIn-mob{
                        display:none;
                        @media only screen and (max-width:991px){
                            display:initial;
                        }
                    }
                    &.dropdown{
                        .menu-link{
                            
                            padding:12px 30px 12px 16px;
                            position: relative;
                            span{
                                display:inline-block;
                            }
                            i{
                                font-size:10px;
                                margin-top: 2px;
                                position: absolute;
                                right: 12px;
                            }
                        }
                        .dropdown-menu{
                            border-radius:0px;
                            margin-top: 16px !important;
                            padding:7px;
                            &.show{
                                margin-top: 14px !important;
                            }
                            li{
                                a{
                                    font-size:13px;
                                    line-height:16px;
                                    padding:12px 30px 12px 16px;
                                    color:$black;
                                    border-bottom: 1px solid $white-f2;
                                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                                    &:hover{
                                        background-color:transparent;
                                        color: #0062bd;
                                    }
                                }
                                &:last-child{
                                    a{
                                        border-bottom:none;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .dropdown-menu{
                                display:block;
                            }
                        }
                    }
                }
            }
        }
        .header-search{
            width: 100%;
            max-width: 326px;
            .search-input{
                position: relative;
                i{
                    position:absolute;
                    top:14px;
                    left:20px;
                    color: #a2a2a2;
                    font-size:18px;
                    cursor:pointer;
                }
                input{
                    color: #a2a2a2;
                    border-radius:25px;
                    border: 1px solid $white-f2;
                    height:45px;
                    padding-left:45px;
                    font-size:16px;
                    font-weight: normal;
                    &::-webkit-input-placeholder {
                        /* Edge */
                        font-weight: normal;
                        color: #a2a2a2;
                      }
                      &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        font-weight: normal;
                        color: #a2a2a2;
                      }
                      &::placeholder {
                        font-weight: normal;
                        color: #a2a2a2;
                      }
                }
            }
        }
        .signIn-btn{
            button{
                border-radius:30px;
                font-size:14px;
                font-weight:$fw-800;
                letter-spacing: 0.2px;
                padding:10px 33px;
                text-transform: capitalize;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .mobileBargar{
            display:none;
            @media only screen and (max-width:991px){
                display:initial;
                font-size:20px;
                padding:5px;
                cursor: pointer;
                img{
                    width:20px;
                }
            }
        }
    }
}
.isMob-show{
    overflow: hidden;
    .main-header{
        .header-row{
            .main-menu{
                display:block;
                width:100%;
                position:absolute;
                left:0;
                top:80px;
                background-color:$white;
                // transition:all 0.8s linear;
                transform:translateY(0px);
                opacity:1;
                z-index:1;
                .menu-list{
                    flex-direction:column;
                    gap: 0;
                    .menu-item{
                        // display:block;
                        width:100%;
                        border-bottom: 1px solid #e9e9e9;
                        padding:12px 20px;
                        &:hover{
                            .menu-link{
                                background-color:transparent;
                            }
                        }
                        & > .menu-link{
                            color:$black;
                            padding:0;
                        }
                        &.dropdown{
                            // padding-bottom:0 !important;
                            .menu-link{
                                i{
                                    font-size:16px;
                                    font-weight:900;
                                    &::before{
                                        content:"\f067";
                                    }
                                }
                                &.show{
                                    i{
                                        &::before{
                                            content:"\f068";
                                        }
                                    }
                                }
                            }
                            .dropdown-menu{
                                position: relative !important;
                                // left: 0px !important;
                                // top: 35px !important;
                                width: 100%;
                                transform: translate(0px, 0px) !important;
                                border: none;
                                display:none !important;
                                width: calc(100% + 28px);
                                margin-left: -14px !important;
                                margin-right: 14px !important;
                                padding: 0;
                                li{
                                    a{
                                        font-size: 13px;
                                        line-height: 22px;
                                        border-bottom-width: 2px;
                                    }
                                    &:last-child{
                                        a{
                                            padding-bottom:0;
                                        }
                                    }
                                }
                                &.show{
                                    // position:absolute;
                                    display:block !important;
                                }
                            } 
                        }
                    }
                }
            } 
            .mobileBargar{
                img{
                    content:url(../../images/icon/xmark-solid.svg);
                }
            } 
        } 
    } 
}
// =================== header css end  =========================== //
.rating-section{
    min-height:48px;
    margin:3px 0 0 0;
    .rat-row{
        display:flex;
        align-items:center;
        .star-list{
            display:flex;
            align-items:center;
            li{
                display:inline-block;
                transition:all 0.3s ease-in-out;
                &:hover{
                    a{
                        img{
                           content:url(../../images/icon/yellow_star.png);
                        }
                    }
                }
            }
        }
        .rating-num{
            padding: 3px 3px 3px 10px;
            span{
                display:inline;
                font-size: 14px;
                text-align: center;
                line-height: 18px;
                
                font-weight: 700;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}
.main-specialSec {
    background-color: $green;

    .logo-header {
        background-color: $black;
        padding: 10px 15px;
        text-align: center;

        img {
            width: 330px;
        }
    }

    .reward-formSec {
        padding: 110px 0;

        .rwdRow {
            align-items: initial;

            .formCard {

                // height:100%;
                .right-form {
                    max-width: 592px;
                    margin: auto;

                    .card {
                        .card-body {
                            position: relative;

                            .mystry-imgSec {
                                display: none;

                                .my-unlock-img {
                                    max-width: 33.33%;
                                    width: 100%;
                                    margin-top: -58px;

                                    img {
                                        max-width: 100%;
                                    }
                                }

                                .reward-boxTv {
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                    margin-top: -115px;
                                    max-width: 33.33%;
                                }
                            }

                            .offer-validRow {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 20px;

                                h4 {
                                    font-size: 22px;
                                    line-height: 26px;
                                    margin-bottom: 0;
                                    color: $green;
                                    font-weight: $fw-700;
                                    margin: 0 20px 0 0;

                                    img {
                                        width: 22px;
                                    }
                                }

                                .countdown-box {
                                    display: flex;

                                    .countdown-item {
                                        background-color: $dark-yellow;
                                        padding: 10px;
                                        text-align: center;
                                        display: flex;
                                        flex-direction: column;

                                        .countdown-time {
                                            margin-bottom: 0;
                                            font-size: 40px;
                                            line-height: 40px;
                                            color: $orange;
                                            font-weight: $fw-700;
                                        }

                                        span {
                                            font-size: 12px;
                                            line-height: 12px;
                                            font-weight: $fw-700;
                                            color: $black-1e;
                                            display: inline-block;
                                        }

                                        &:first-child {
                                            border-radius: 10px 0 0 10px;
                                        }

                                        &:last-child {
                                            border-radius: 0 10px 10px 0;
                                        }
                                    }
                                }
                            }

                            .claim-h1 {
                                text-align: center;
                                font-size: 36px;
                                line-height: 42px;
                                font-weight: $fw-700;
                                margin-bottom: 40px;

                                span {
                                    color: $green;
                                }
                            }

                            h3 {
                                font-size: 22px;
                                line-height: 26px;
                                font-weight: $fw-700;
                                text-align: center;
                                margin-bottom: 20px;

                                span {
                                    border-bottom: 7px solid $dark-yellow;
                                    display: inline-block;
                                }

                                img {
                                    width: 22px;
                                }
                            }

                            .downArrow {
                                text-align: center;
                                margin-bottom: 20px;
                            }
                        }
                    }

                    &.successForm {
                        height: 100%;

                        .card {
                            height: 100%;

                            .card-body {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;

                                .thankYou-h1 {
                                    font-size: 36px;
                                    line-height: 40px;
                                    font-weight: $fw-700;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .reward-footer {
        text-align: center;
        padding-bottom: 40px;

        .container {
            max-width: 1465px;
        }

        .inner-rwd {
            max-width: 70%;
            margin: 0 auto;

            .newsletterTxt {
                margin-bottom: 20px;
                color: $white;
                font-size: 16px;
                line-height: 21px;
                font-weight: $fw-400;

                img {
                    width: 16px;
                }
            }

            .copyTxt {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                color: $white;
                line-height: 19px;
                margin-bottom: 0;

                span {
                    color: $dark-yellow;
                }
            }
        }
    }
}

.main-footer {
    padding: 45px 0 30px;
    border-bottom: 20px solid $yellow;

    .footer-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;

        li {
            display: inline-block;

            a {
                color: $black-83;
                font-size: 0.75rem;
                line-height: 14px;
                font-weight: $fw-500;
                padding: 3px 0;
            }
        }
    }

    p {
        color: rgb(79 79 79);
        font-size: 0.75rem;
        font-weight: $fw-600;
        text-align: center;
        margin-bottom: 0;
    }
}

@import "responsive";